* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    font-size: 12px;
    height: 800px;
    width: 100%;
}

.header {
    height: 48px;
    background-color: white;
    background-repeat:repeat-x ;
    text-align: center;
}
.header .logo {
    float: left;
    height: 48px;
    width: 120px;
}
.header .logo img {
    height: 47px;
    padding: 0;
    margin: 0;
    width: 120px;
}
.header .nav a{
    display: block;
    height: 100%;
    width: 100%;
}
.header .search-box {
    float: right;
    padding-right: 50px;
    line-height: 20px;
}
.header .search-box #search-Form {

}
#kword {
    float: right;
    padding: 0;
}
#subSerch {
    float: right;
    padding: 0;
}

.header ul {
    list-style-type: none;
    /*clear: both;*/
}
.header li{
    margin: 0;
    border: 0 solid #55efc4;
    height: 48px;
    width: 100px;
    float: left;
}
.header li a{
    position: relative;
    font-size:16px;
    line-height: 48px;
}
.header li:last-child{
    clear: right;
}
.header ul li:hover,li:active{
    background-color: #74b9ff;
    display: block;
    font-weight: bold;
    color: #55efc4;
    padding: 0;
    text-decoration: none;
}

/*这是一个*/
.profile__cover_link{
    width: 100%;
    height: 210px;
    text-align: center;
    border: 1px solid black;
    background-color: #dddddd;
    background:url(../../static/image/userbg.jpg);
}
.profile__cover_link .userhead{

}
.profile__cover_link a{

}
.profile__tit{

}

.main--profile {

}
.profile_nav {
    margin-left: 100px;
    margin-top: 30px;
}
.songlist__header{
    list-style-type: none;
}
.mod_songlist{
    width: 100%;
    border: 1px solid black;
}
.songlist__header li{
    display: inline;
    margin-left: 300px;
}
.songlist__list li{
    display: inline;
    margin-left: 285px;

}

.mod_tab img{
    height: 50px;
}

