/*公用css*/
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    font-size: 12px;
    height: 800px;
    width: 100%;
}

.header {
    height: 48px;
    background-color: white;
    background-repeat:repeat-x ;
    text-align: center;
}
.header .logo {
    float: left;
    height: 48px;
    width: 120px;
}
.header .logo img {
    height: 47px;
    padding: 0;
    margin: 0;
    width: 120px;
}
.header .nav a{
    display: block;
    height: 100%;
    width: 100%;
}
.header .search-box {
    float: right;
    padding-right: 50px;
    line-height: 20px;
}
.header .search-box #search-Form {

}
#kword {
    float: right;
    padding: 0;
}
#subSerch {
    float: right;
    padding: 0;
}

.header ul {
    list-style-type: none;
    /*clear: both;*/
}
.header li{
    margin: 0;
    border: 0 solid #55efc4;
    height: 48px;
    width: 100px;
    float: left;
}
.header li a{
    position: relative;
    font-size:16px;
    line-height: 48px;
}
.header li:last-child{
    clear: right;
}
.header ul li:hover,li:active{
    background-color: #74b9ff;
    display: block;
    font-weight: bold;
    color: #55efc4;
    padding: 0;
    text-decoration: none;
}


/*音乐分类*/
.nav-box {
    float: left;
    width: 120px;
    margin-right: 10px;
}
.category-nav-header{
    text-align: center;
    border: #74b9ff;
    width: 120px;
}
.category-nav-header img{
    text-align: center;
    width: 120px;
}
.category-nav-body {
    width: 120px;
    text-align: center;
    font-size: 12px;
}
.category-nav-body .item a{
    display: block;
    height: 100%;
    width: 100%;
}

/*datu*/


/*热门歌曲*/
.wrapper {
    width: 750px;
    float: left ;
}



.right-side {
    float: right;
    margin-right: 50px;
    border: solid 1px #74b9ff;
}
.right-side ul{
    list-style-type: none;
}
.aside {
    text-align: center;
    border: black;
    font-size: 14px;
}
.aside a{
    display: block;
    height: 100%;
    width: 100%;
}
.aside img{
    width: 160px;
}
.today{
    text-align: center;
}
.today img{
    width: 160px;
}
.today-list a{
    display: block;
    height: 100%;
    width: 100%;
}
.section {
    text-align: center;
}
.tab-container-cell a{
    display: block;
    height: 100%;
    width: 100%;
}
.current img{
    width: 160px;
}
.swiper-wrapper{
    border: 1px solid black;
}
/*.swiper-slide img{*/
/*    width: 300px;*/
/*    height: 700px;*/
/*}*/