* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    font-size: 12px;
    height: 800px;
    width: 100%;
}

.header {
    height: 48px;
    background-color: white;
    background-repeat:repeat-x ;
    text-align: center;
}
.header .logo {
    float: left;
    height: 48px;
    width: 120px;
}
.header .logo img {
    height: 47px;
    padding: 0;
    margin: 0;
    width: 120px;
}
.header .nav a{
    display: block;
    height: 100%;
    width: 100%;
}
.header .search-box {
    float: right;
    padding-right: 50px;
    line-height: 20px;
}
.header .search-box #search-Form {

}
#kword {
    float: right;
    padding: 0;
}
#subSerch {
    float: right;
    padding: 0;
}

.header ul {
    list-style-type: none;
    /*clear: both;*/
}
.header li{
    margin: 0;
    border: 0 solid #55efc4;
    height: 48px;
    width: 100px;
    float: left;
}
.header li a{
    position: relative;
    font-size:16px;
    line-height: 48px;
}
.header li:last-child{
    clear: right;
}
.header ul li:hover,li:active{
    background-color: #74b9ff;
    display: block;
    font-weight: bold;
    color: #55efc4;
    padding: 0;
    text-decoration: none;
}


<!---->
.music_box{
    position: absolute;
    right: 50%;
    width: 50%;

}
.jp_img{

    border: 2px solid black;
    height: 140px;
    width: 140px;
    margin-left: 150px;
}
.jp-gui{


}
.jp-time-holder{
    text-align: center;
    width: 200px;
}
.jp-audio{
    margin-left: 0;
    position: absolute;
    width: 80%;
    left: 20%;
}
.jp-audio ul{
    list-style-type: none;
}
.product-detail-main {
    position: absolute;
    left: 0;
    width: 62%;
}
.sma {
    font-size: 10px;
}
.product-comment{
    margin-top: 10px;
    border: 1px black solid;
    margin-right: 82%;
    width: 200px;
}
.product-price{
    width: 100%;
    border: 1px black solid;
}
.product-comment ul{
    list-style-type: none;
}

.section{
    float: right;
    margin-right: 50px;
    width: 150px;
    border: 1px solid black ;
}
.section ul{
    list-style-type: none;
}
.section-header{
    text-align: center;
}
.section-content{
    margin-left: 30px;
}
#file {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

#canvas {
  position: fixed;
  left: 20%;
  top: 30%;
  width: 30%;
  height: 20%;
}

#audio {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: calc(100% - 20px);
    z-index: 99999;
}
.product-comment{

}
.history{
    border: 1px solid black;
    position: fixed;
    width: calc(200px - 20px);
    right: 20%;
    bottom: 12%;
}
.section{
    border: 1px solid black;
    position: fixed;
    width: calc(200px - 20px);
    right: 0;
    bottom: 12%;
}
.product-detail-comment{
    width: 100%;
        /*border: 1px solid black;*/
}
.comment-container{
    width: 62%;
    /*border: 1px solid black;*/
}
.comments-box{
    border: 1px solid black;
    position: fixed;
    width: calc(300px - 20px);
    right: 38%;
    bottom: 12%;
}
.comments-words{
    width: 100%;
    border: 1px solid black;
}
.many-comment{
    text-align: center;
}
.writebox{
    width: 100%;
}
.in-writebox{
    width: 80%;
}