body{

    height: 100%;
    width: 100%;
}
.logo img{
    width: 160px;
}
.header{
    text-align: center;
}
.content {
    text-align: center;
    border: 1px solid black;
    background-color: #a6e1ec;
    width: 26%;
    margin-left: 37%;
}
.content span{
        list-style-type: none;
}