{% extends "base.html" %}
{% load static %}
{% block link %}
<link rel="shortcut icon" href="{% static "favicon.ico" %}">
<link rel="shortcut icon" href="{% static "css/common.css" %}">
<link rel="shortcut icon" href="{% static "css/home.css" %}">
<link rel="stylesheet" href="{% static "css/home.css" %}">
<link rel="stylesheet" href="{% static "css/base.css" %}">
<link rel="stylesheet" href="{% static "bootstrap-3.3.7/css/bootstrap.min.css" %}">
{% endblock %}
{% block body %}
<body class="index">
<!--header-->
<div class="header">
    <a href="/" class="logo">
        <img src="{% static "image/logo1.png" %}" alt="">
    </a>
    <ul class="nav clearfix">
            <li>
                <a href="{% url 'index' %}">首页</a>
            </li>
            <li>
                <a href="{% url 'ranking' %}">歌曲排行</a>
            </li>
            <li>
                <a href="{% url 'home' 1 %}">用户中心</a>
            </li>
        </ul><!--end nav-box-->
</div>
<!--end header-->
<div class="mod_profile js_user_data" style="">
    <div class="section_inner">

        <div class="profile__cover_link">
            <div class="userhead">
                <img src="{% static "image/user.jpg" %}" class="profile__cover">
                <h1 class="profile__tit">
                    <span class="profile__name">{{ user.username }}</span>
                </h1>
            </div>

                <a href="{% url 'logout' %}" style="color:blue;">退出登录</a>
        </div>
        <div class="out">

        </div>

    </div>
</div>
<!--文章浏览记录--->
<div class=".container" style="">
<div class="row art">
<div class="mod_tab profile_nav col-md-2" role="nav" id="nav">
        <img class="mod_tab__item mod_tab__current" id="hear_tab" src="{% static "image/history.png" %}">
    </div>
<div class="mod_tab profile_nav col-md-2" role="nav" id="nav">
        <img class="mod_tab__item mod_tab__current" id="hear_tab" src="{% static "image/history.png" %}">
    </div>
</div>
<div class="row art">
    <div class="js_box col-md-3" style="display: block;">
        <div class="profile_cont">
            <div class="js_sub" style="display: block;">
                <div class="mod_songlist">
                    <ul class="songlist__list">
                        {% for item in pages.object_list %}
                        <li>
                            <div class="songlist__item songlist__item--even">
                                <div class="songlist__songname">
                                    <a href="{% url 'play' item.id %}"
                                       class="js_song songlist__songname_txt">{{ item.name }}</a>
                                </div>
                                <div class="songlist__artist">
                                    <a href="javascript:;" class="singer_name">
                                        {{ item.singer }}
                                    </a>
                                </div>
                                <div class="songlist__time">{{ item.time }}</div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div><!--end mod_songlist-->
            <!--分页-->
            <div class="page-box col-md-2">
                <div class="pagebar" id="pageBar">
                    {% if pages.has_previous %}
                    <a href="{% url 'home' pages.previous_page_number %}"
                       class="prev" target="_self"><i></i>上一页</a>
                    {% endif %}
                {% for page in pages.paginator.page_range %}
                {% if pages.number == page %}
                    <span class="sel">{{ page }}</span>
                {% else %}
                    <a href="{% url 'home' page %}" target="_self">{{ page }}</a>
                {% endif %}
                {% endfor %}
                {% if pages.has_next %}
                    <a href="{% url 'home' pages.next_page_number %}" class="next" target="_self">下一页<i></i></a>
                {% endif %}
                </div>
            </div>
            </div>
        </div>
    </div>
<div class="js_box col-md-2" style="display: block;">
        <div class="profile_cont">
            <div class="js_sub" style="display: block;">
                <div class="mod_songlist">
                    <ul class="songlist__list">
                        {% for item in pages.object_list %}
                        <li>
                            <div class="songlist__item songlist__item--even">
                                <div class="songlist__songname">
                                    <a href="{% url 'play' item.id %}"
                                       class="js_song songlist__songname_txt">{{ item.name }}</a>
                                </div>
                                <div class="songlist__artist">
                                    <a href="javascript:;" class="singer_name">
                                        {{ item.singer }}
                                    </a>
                                </div>
                                <div class="songlist__time">{{ item.time }}</div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div><!--end mod_songlist-->
            <!--分页-->
            <div class="page-box col-md-2">
                <div class="pagebar" id="pageBar">
                    {% if pages.has_previous %}
                    <a href="{% url 'home' pages.previous_page_number %}"
                       class="prev" target="_self"><i></i>上一页</a>
                    {% endif %}
                {% for page in pages.paginator.page_range %}
                {% if pages.number == page %}
                    <span class="sel">{{ page }}</span>
                {% else %}
                    <a href="{% url 'home' page %}" target="_self">{{ page }}</a>
                {% endif %}
                {% endfor %}
                {% if pages.has_next %}
                    <a href="{% url 'home' pages.next_page_number %}" class="next" target="_self">下一页<i></i></a>
                {% endif %}
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="{% static "js/jq1.12.4.js" %}"></script>
<script src="{% static "bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>
</body>
{% endblock %}